# Data Selection
The data was collected from the Orange County Property Appraiser's Office. The data includes home sales localized to the service areas of "Bridgewater Middle School" and "Horizon West Middle School". This localization was selected due to the fact that these middle schools are currently the feeder schools for the Horizon West area. 

As you can see below, these criterion provided 10,336 results with 31 columns. Our next task is to parse down the column count, as not all of the provided columns are needed for our purposes.

In [1]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import matplotlib.pyplot as plt
excel_file = 'data_sheet.xlsx'
estate = pd.read_excel(excel_file)
estate.info()
estate.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10336 entries, 0 to 10335
Data columns (total 31 columns):
Parcel ID                  10336 non-null object
Property Address           10336 non-null object
Street Number              10336 non-null int64
Street Direction           25 non-null object
Street Name                10336 non-null object
Street Type                10270 non-null object
Unit Number                0 non-null float64
Heated Area                10336 non-null int64
Bedrooms                   10336 non-null int64
Bathrooms                  10336 non-null float64
Book                       0 non-null float64
Page                       0 non-null float64
Instrument Number          10336 non-null int64
PID                        10336 non-null int64
Link                       10336 non-null object
Mailing Address 1          10336 non-null object
Mailing Address 2          503 non-null object
Mailing Address City       10336 non-null object
Mailing Address State      10336 non-null object
Mailing Address Zip        10213 non-null object
Mailing Address Country    344 non-null object
Buyer(s)                   10333 non-null object
Seller(s)                  10326 non-null object
Sale Amount                10336 non-null int64
SaleDescriptionCode        10336 non-null int64
SaleDescription            10336 non-null object
Average Year Built         10336 non-null int64
Date of Sale               10336 non-null object
Property Use Code          10336 non-null int64
Number of Buildings        10336 non-null int64
Property Use Type          10336 non-null object
dtypes: float64(4), int64(10), object(17)
memory usage: 2.4+ MB

(10336, 31)

In [2]:
estate.columns
estate.head()

,Parcel ID,Property Address,Street Number,Street Direction,Street Name,Street Type,Unit Number,Heated Area,Bedrooms,Bathrooms,...,Buyer(s),Seller(s),Sale Amount,SaleDescriptionCode,SaleDescription,Average Year Built,Date of Sale,Property Use Code,Number of Buildings,Property Use Type
0,29-23-27-7800-00-240,7668 TANGERINE KNOLL LOOP,7668,NaN,TANGERINE KNOLL,LOOP,NaN,2683,4,3.0,...,DREAM FINDERS HOMES LLC,HM7 JV OWNER LLC,52200,5,SALE QUALIFIED BUT INVOLVED MULTIPLE PARCELS,2018,9/18/2017 12:00:00 AM,103,1,SINGLE FAMILY CLASS III
1,16-23-27-5852-03-970,14567 MAGNOLIA RIDGE LOOP,14567,NaN,MAGNOLIA RIDGE,LOOP,NaN,2882,4,3.0,...,CROFT JONATHAN\nCROFT MEGAN,CALATLANTIC GROUP INC,366700,1,SALE QUALIFIED AS RESULT OF DEED EXAMINATION,2016,4/21/2017 12:00:00 AM,103,1,SINGLE FAMILY CLASS III
2,33-23-27-8300-00-380,15415 MURCOTT HARVEST LOOP,15415,NaN,MURCOTT HARVEST,LOOP,NaN,1860,3,2.0,...,GARCIA MARIANGELES,M/I HOMES OF ORLANDO LLC,303000,1,SALE QUALIFIED AS RESULT OF DEED EXAMINATION,2018,7/30/2018 12:00:00 AM,103,1,SINGLE FAMILY CLASS III
3,29-23-27-7800-00-520,7407 POMELO GROVE DR,7407,NaN,POMELO GROVE,DR,NaN,2696,4,3.0,...,DIAMOND ALAN\nDIAMOND MELANIE,CLAIBORNE SCOTT ALAN\nCLAIBORNE RENEE TRUDEAU,450000,1,SALE QUALIFIED AS RESULT OF DEED EXAMINATION,2018,3/22/2019 12:00:00 AM,103,1,SINGLE FAMILY CLASS III
4,28-23-27-9163-02-440,14283 COLONIAL POINTE DR,14283,NaN,COLONIAL POINTE,DR,NaN,3985,4,3.5,...,HARTUNG JULIE\nDAILEY WHITNEY,TAYLOR MORRISON OF FLORIDA INC,557100,1,SALE QUALIFIED AS RESULT OF DEED EXAMINATION,2018,1/24/2018 12:00:00 AM,103,1,SINGLE FAMILY CLASS III

# Cleaning The Data

From evaluating a sample of the data (above), we can safely eliminate the following columns:
Parcel ID, Street Number, Street Direction, Street Name, Street Type, Unit Number (these are all redundant, with the property address column). We can also eliminate the buyer and seller data, as we do not need this information for our purposes. We can eliminate the sales Description Code and Sales Description columns, the number of buildings and the Property use type. 

We will also change the name of Heated Area to square footage, and change the date of sale to date/time type for ease of data examination.

In [3]:
estate = estate.drop(['Parcel ID', 'Street Number', 'Street Direction', 'Street Name', 'Street Type', 'Unit Number', 'Buyer(s)', 'Seller(s)','SaleDescriptionCode', 'Property Use Code', 'Number of Buildings', 'Property Use Type','Mailing Address 1', 'Mailing Address 2', 'Mailing Address City', 'Mailing Address State', 'Mailing Address Zip', 'Mailing Address Country', 'SaleDescription', 'PID','Page','Instrument Number','Book','Link'], axis=1)
estate.rename(columns ={'Heated Area':'square_footage', 'Property Address':'property_address','Bedrooms':'bedrooms','Bathrooms':'bathrooms','Sale Amount':'sale_amount','Average Year Built':'year_built','Date of Sale':'sale_date'},inplace=True)
estate['sale_date'] = pd.to_datetime(estate['sale_date'])
estate.sort_values(by=['sale_date'], inplace=True, ascending=True)
estate.info()
estate.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10336 entries, 6335 to 6244
Data columns (total 7 columns):
property_address    10336 non-null object
square_footage      10336 non-null int64
bedrooms            10336 non-null int64
bathrooms           10336 non-null float64
sale_amount         10336 non-null int64
year_built          10336 non-null int64
sale_date           10336 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(4), object(1)
memory usage: 646.0+ KB

,property_address,square_footage,bedrooms,bathrooms,sale_amount,year_built,sale_date
6335,15532 AVENUE OF THE ARBORS,3943,5,4.5,699900,2016,2016-12-10
5238,14912 PORTER RD,1708,3,2.0,50000,2017,2016-12-12
5712,14928 PORTER RD,2328,3,2.5,50000,2017,2016-12-12
307,7209 BEAKRUSH LN,2224,3,2.0,280000,2006,2016-12-12
4881,14920 PORTER RD,2004,3,2.5,50000,2017,2016-12-12

In the above code we reduced the total number of columns to 7 (the most pertinent), and organized the data from oldest to newest.

In [4]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
estate.drop(estate[estate.sale_amount < 150000].index, inplace = True)
estate.drop(estate[estate.sale_amount > 500000].index, inplace = True)
estate['sale_amount'].describe()

count     7586.000
mean    334997.487
std      74554.058
min     150000.000
25%     280800.000
50%     328000.000
75%     388475.000
max     500000.000
Name: sale_amount, dtype: float64

In the above code, we eliminate any sales that total less than 150,000, since these sales are not representative of  common housing prices in the central Florida area. these sales are likely to be either Foreclosures or family to family sales. Additionally, we elimated any sales prices greater than 500,000, as this number is greatly outside our range and will likely skew the dataset. 

Now that we have the sales price data cleaned to a point that will be representative of our desired range, we can turn our attention to the square footage data.

In [5]:
estate['square_footage'].describe()

count   7586.000
mean    2391.266
std      651.125
min      618.000
25%     1902.000
50%     2224.000
75%     2793.000
max     6325.000
Name: square_footage, dtype: float64

As you can see, there appears to be a very wide range of values for the square footage column, with a minimum being 651 and a max of 6325. Below we will explore this column in an attempt to ferret out the cause of this wide range.

In [6]:
estate.drop(estate[estate.square_footage < 1800].index, inplace=True)

# estate.loc[estate['square_footage'] == 1801]
estate['square_footage'].describe()

count   6190.000
mean    2565.305
std      591.610
min     1801.000
25%     2089.000
50%     2464.000
75%     2922.000
max     6325.000
Name: square_footage, dtype: float64

Through exploration we identified that the lower square footage values were from homes that were built in the 50's and 60's. This indicates that the homes were likely built for the property value to make way for development. 

Additionally, the low square footage is well below the threshold for what our family would need. Thus, I have eliminated any properties with square footage less than 1800. This leaves a total count of 6190 properties to evaluate with the min, max and mean as listed above.

In the cell above, you can see the breakdown of price per square foot for the entire data set. This indicates a mean cost of $140 per square foot

In [7]:
start_date = '2016-01-01'
end_date = '2016-12-31'
values_2016 = (estate['sale_date'] >= start_date)&(estate['sale_date'] <= end_date)
all_2016 = estate.loc[values_2016]
all_2016.shape

(123, 7)

In [8]:
start_17 = '2017-01-01'
end_17 = '2017-12-31'
values_2017 = (estate['sale_date']>= start_17)&(estate['sale_date']<= end_17)
all_2017 = estate.loc[values_2017]
all_2017.shape

(2315, 7)

In [9]:
start_18 = '2018-01-01'
end_18 = '2018-12-31'
values_2018 = (estate['sale_date']>= start_18)&(estate['sale_date']<= end_18)
all_2018 = estate.loc[values_2018]
all_2018.shape

(2202, 7)

In [10]:
start_19 = '2019-01-01'
end_19 = '2019-12-31'
values_2019 = (estate['sale_date']>= start_19)&(estate['sale_date']<= end_19)
all_2019 = estate.loc[values_2019]
all_2019.shape

(1550, 7)

In the above blocks of code, we have created alternative datasets classified by year for years 2016-2019. 

We now have datasets that have been cleaned to include:

individual years

price greater than 150000 to eliminate errant purchases

square footage greater than 1800 to ensure we are only looking at data that is pertinent to us

# Evaluating the data:

In the space below we will begin to evaluate the data to find patterns. We can first start by examining an industry standard. The price per square foot.

In [11]:
per_square_foot = estate['sale_amount'] / estate['square_footage']
per_sq_ft_2016 = all_2016['sale_amount']/all_2016['square_footage']
per_sq_ft_2017 = all_2017['sale_amount']/all_2017['square_footage']
per_sq_ft_2018 = all_2018['sale_amount']/all_2018['square_footage']
per_sq_ft_2019 = all_2019['sale_amount']/all_2019['square_footage']
print('cummulative price per square foot = {}'.format(per_square_foot.describe()))
print('')
print('2016 price per square foot = {}'.format(per_sq_ft_2016.describe()))
print('')
print('2017 price per square foot = {}'.format(per_sq_ft_2017.describe()))
print('')
print('2018 price per sqare foot = {}'.format(per_sq_ft_2018.describe()))
print('')
print('2019 price per square foot = {}'.format(per_sq_ft_2019.describe()))

cummulative price per square foot = count   6190.000
mean     140.848
std       23.860
min       37.790
25%      128.466
50%      141.922
75%      154.935
max      244.368
dtype: float64

2016 price per square foot = count   123.000
mean    136.111
std      23.624
min      50.617
25%     123.892
50%     134.159
75%     145.241
max     244.368
dtype: float64

2017 price per square foot = count   2315.000
mean     130.744
std       26.072
min       37.790
25%      119.619
50%      133.638
75%      146.314
max      218.738
dtype: float64

2018 price per sqare foot = count   2202.000
mean     144.498
std       19.963
min       39.672
25%      131.588
50%      144.006
75%      156.483
max      220.292
dtype: float64

2019 price per square foot = count   1550.000
mean     151.128
std       19.237
min       56.675
25%      138.907
50%      151.198
75%      163.139
max      235.031
dtype: float64

# TO DO:
create visuals representing:


overall growth of property sales value over time


growth year over year by price per square foot


growth year over year by bedrooms


growth year over year by bathrooms